# Gradle
.gradle/
**/build/

# Android
local.properties
**/intermediates/
**/outputs/
**/*.apk
**/*.aab
**/*.dex
**/*.jar

# IntelliJ / Android Studio
.idea/
*.iml

# Kotlin / Java
*.class

# OS
.DS_Store
